
@media all and (max-width: 1280px){

    section:not(#visual){
        margin-top: 90px;
    }

    .elc_list > li{
        width: calc(50% - 22.5px);
        margin-bottom: 40px;
    }

    .info_list{
        width: 100%;
        margin-bottom: 40px;
    }

    .glance_info_list ul li{
        width: calc(50% - 22.5px);
        margin-bottom: 40px;
    }

    .ebook_list ul li{
        width: calc(50% - 22.5px);
        margin-bottom: 40px;
    }

    #footer{
        margin: 30px 0 80px 0;
    }

    .footer_link ul{
        gap: 1px;
    }

    .footer_link ul li{
        flex: none;
        width: calc((100% / 3) - 1px);
    }

    .footer_logo img:nth-child(1){
        display: none;
    }

    .footer_logo img:nth-child(2){
        display: block;
    }

    .footer_info{
        position: relative;
    }

    .footer_left{
        width: 100%;
    }

    .footer_logo{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
        margin-bottom: 25px;
    }

    .footer_logo a{
        width: max-content;
    }

    .footer_logo a img{
        width: 125px;
    }

    .footer_logo button{
        position: relative;
        transform: rotate(180deg);
        width: 20px;
        height: 25px;
        background: url('../img/arr_top.png') center no-repeat;
        background-size: contain;
        margin-left: 10px;
    }

    .footer_logo button.active{
        transform: rotate(0deg);
    }

    .footer_address{
        display: none;
        position: absolute;
        left: 0;
        bottom: calc(100% + 20px);
        width: 100%;
        background: #fff;
        box-sizing: border-box;
        border: 5px solid #000;
        padding: 30px 15px;
        z-index: 3;
    }

    .footer_address ul li{
        width: 100%;
        padding-right: 0px;
        margin-bottom: 20px;
    }

    .footer_address ul li:last-child{
        margin-bottom: 0px;
    }

    .footer_address ul li address em{
        font-size: 17px;
    }

    .footer_address ul li address p{
        font-size: 16px;
    }

}

@media all and (min-width: 768px){
    .overZero .logo_box{
        margin-top: 35px;
        height: calc(100vh - 70px);
    }

    .overZero #header{
        top: 25px;
    }
    
    .overZero .header{
        padding-bottom: 40px;
    }

}

@media all and (max-width: 768px){

    .container{
        padding: 0 20px 0 60px;
    }

    .logo_box{
        left: 15px;
        width: 28px;
        margin-top: 25px;
        height: calc(100vh - 60px);
    }

    .min_logo{
        width: max-content;
    }

    .min_logo a{
        width: max-content;
    }

    .min_logo a img{
        height: 15px;
    }

    .logo_box::before{
        width: 6px;
        top: 8px;
    }

    .main_logo{
        display: none;
    }

    #header{
        top: 20px;
    }

    .header{
        padding-bottom: 20px;
    }

    .header::after{
        height: 5px;
    }

    .hr_util > a{
        width: 30px;
        height: 30px;
    }

    .hr_util > a img{
        width: 20px;
    }

    .hr_search .hr_util_background{
        padding: 80px 0;
    }

    .search_area{
        border-width: 6px;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }

    #all_search_input{
        font-size: 26px;
        width: 85px;
    }

    #all_search_input.wide{
        width: 210px;
    }

    .hr_menu .hr_util_background{
        padding: 80px 30px;
    }

    .hr_util_top{
        right: 32px;
        top: 15px;
    }

    .hub_close{
        height: 30px;
    }

    .hub_close button{
        width: 30px;
        height: 30px;
        background-size: 26px;
    }

    #nav ul li a{
        font-size: 21px;
        padding: 12px 0 19px 0;
    }

    .search_example ul li a{
        font-size: 17px;
    }

    .visual_txt h2 strong{
        font-size: 28px;
        letter-spacing: -1px;
    }

    .elc_list > li{
        width: 100%;
    }

    .el_pic img{
        width: 100%;
    }

    .el_desc{
        margin: 20px 0 10px 0;
    }

    .el_desc h3{
        font-size: 21px;
    }

    .el_box .el_date{
        font-size: 18px;
    }

    .info_list_box ul{
        gap: 30px 0;
    }

    .info_list_box ul li{
        width: 100%;
    }

    .pagination_box{
        width: 100% !important;
        overflow-x: scroll;
        bottom: 50px !important;
    }

    .school-slide-pagination{
        width: auto !important;
        height: auto !important;
        white-space: nowrap;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .school-slide-pagination button{
        padding: 0 20px;
        margin-bottom: 25px;
        font-size: 17px;
    }

    .school_slide_tit{
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .school_slide_tit h3, .school_slide_tit ul li h4{
        font-size: 22px;
    }

    .glance_info_list ul li{
        width: 100%;
    }

    .gil_img{
        width: 60px;
        background-image: url('../img/new_icon_m.png');
        background-size: 200px;
    }

    .glance_info_list ul li:nth-child(1) .gil_img{
        background-position: 0 0;
    }

    .glance_info_list ul li:nth-child(2) .gil_img{
        background-position: -100px 0px;
    }

    .glance_info_list ul li:nth-child(3) .gil_img{
        background-position: 0 -100px;
    }

    .glance_info_list ul li:nth-child(4) .gil_img{
        background-position: -100px 0px;
    }

    .gil_txt em{
        font-size: 21px;
        margin-bottom: 12px;
    }

    .gil_txt span{
        font-size: 16px;
    }

    .ebook_list ul li{
        width: 100%;
    }

    .ebook_img img{
        width: 100%;
    }

    #footer{
        margin: 40px 0 60px 0;
    }

    .go_up{
        justify-content: flex-start;
    }

    .go_up a{
        font-size: 20px;
        padding: 0;
    }

    .go_top_arrow{
        margin-left: 7px;
        margin-top: 0px;
    }

    .footer_link ul li a{
        padding: 20px 0;
        font-size: 14px;
    }

    .footer_link ul li{
        width: calc(50% - 0.5px);
    }

    .footer_logo a img{
        width: 90px;
    }

    .footer_logo button{
        width: 14px;
    }

}