html, body{
    font-family: "neue-haas-grotesk-display", sans-serif;
}

body{
    overflow-x: hidden;
}

#wrap{
    width: 100%;
}

.container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 40px 0 130px;
}

:root{
    --main_color_red-: #e60039;
}

::selection{
    background: var(--main_color_red-);
    color: #fff;
}

.hv_red:hover .red_text{
    color: var(--main_color_red-);
}

.line_ani_box{
    position: relative;
    padding-top: 35px;
}

.line_ani_box::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transform: scaleX(0);
    width: 100%;
    height: 10px;
    background: #000;
    transition: all 1s ease;
    transform-origin: left;
}

.aos-animate .line_ani_box::before{
    transform: scaleX(100%);
}


/* logo */

.logo_box{
    position: fixed;
    left: 40px;
    top: 0px;
    margin-top: 45px;
    width: 50px;
    height: calc(100vh - 80px);
    z-index: 100;
    transition: all .5s ease;
}

.logo_box::before{
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 15px;
    width: 10px;
    height: calc(100% - 15px);
    background: #000;
}

.min_logo a{
    display: block;
}

#header{
    position: fixed;
    top: 38px;
    right: 0;
    width: 100%;
    transition: all .5s;
    z-index: 200;
}

.header{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 45px;
}

.header::after{
    display: block;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0px;
    width: 100%;
    height: 10px;
    background: #000;
    transition: all .3s;
    transform-origin: bottom;
}

.main_logo{
    position: absolute;
    left: 0;
    top: 0px;
}

/* overZero header */

.overZero .logo_box{
    margin-top: 35px;
    height: calc(100vh - 70px);
}

.overZero #header{
    top: 25px;
}

.overZero .header::after{
    height: 0;
}

.overZero .main_logo{
    display: none;
}

.overZero .hr_util_background{
}

/* end overZero */


.main_logo a{
    display: block;
}

.main_logo a img{
    max-width: 100%;
}

.header_util_box{
    display: flex;
    flex-wrap: wrap;
}

.hr_util{
    margin-left: 13px;
}

.hr_util > a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr_util > a img{
    width: 30px;
}

.hr_util_background{
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    width: 100vw;
    height: 100vh;
    background-color: #000;
    background-image: url('../img/allmenu_bg.gif');
    background-repeat: no-repeat;
    background-size: auto calc(100% - 110px);
    background-position: left top;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    padding: 80px 70px;
    box-sizing: border-box;
    transition: all .5s ease;
}

.hr_util.active .hr_util_background{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.hr_util_inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hr_util_top{
    position: absolute;
    right: 40px;
    top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
}

.hut_list{
    width: max-content;
    display: flex;
    flex-direction: row;
}

.hut_list li{
    margin-left: 20px;
}

.hut_list li a{
    color: #fff;
    font-size: 13px;
    font-weight: 500;
}

.hub_close{
    margin-left: 13px;
}

.hub_close button{
    width: 50px;
    height: 50px;
    background: url('../img/close.png');
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
}

.all_search{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.search_area{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 27px;
    margin-bottom: 30px;
    border-bottom: 8px solid #fff;
}

#all_search_input{
    background: transparent;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 150px;
    transform-origin: left;
    transition: all .5s ease;
}

#all_search_input.wide{
    width: 405px;
}

#all_search_input:focus{
    outline: none;
    border: none;
}

#all_search_input::placeholder{
    color: rgba(255, 255, 255, 0.1);
    letter-spacing: -2px;
}

.search_area button{
    width: 40px;
    height: 40px;
    background-image: url('../img/search_ico_white.png');
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center;
}

.search_example{
    width: 100%;
    display: flex;
    justify-content: center;
}

.search_example ul{
    display: flex;
    flex-direction: row;
    gap: 0 6px;
}

.search_example ul li a{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.all_nav{
    width: auto;
}

#nav ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#nav ul li a{
    position: relative;
    display: inline-block;
    font-size: 38px;
    color: #fff;
    font-weight: 600;
    padding: 14px 0 26px 0;
}

#nav ul li a::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    opacity: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    transform-origin: left;
    transition: all .5s ease;
}

#nav ul li a:hover::after{
    transform: scaleX(1);
    opacity: 1;
}

.header_fixed_menu{
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 5px;
    transition: all 0.3s;
}

.overZero .header_fixed_menu{
    margin-top: 0px;
}

.header_fixed_menu ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px 0;
}

.header_fixed_menu ul li a{
    width: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #000;
    box-sizing: border-box;
    padding: 60px 7px 10px 7px;
    transition: all .3s ease;
    background-position: top 11px center !important;
    background-size: auto 40px !important;
    background-repeat: no-repeat !important;
}

.header_fixed_menu ul li:first-child a{
    background-image: url('../img/ic_calendar.png');
}

.header_fixed_menu ul li:last-child a{
    background-image: url('../img/highLights.png');
}

.header_fixed_menu ul li:first-child a:hover{
    background-color: var(--main_color_red-);
}

.header_fixed_menu ul li:last-child a:hover{
    background-color: #f8b500;
}

.header_fixed_menu ul li a span{
    color: #fff;
    display: block;
    text-align: center;
    word-break: keep-all;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25;
}

/* visual */

#visual{
    width: 100%;
    height: 100vh;
    background: url('../img/6837f47d-3193-45fd-aa10-35b0414014fd_resize.jpg');
    background-size: cover;
    background-position: center center;
}

.visual{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

.visual_txt{
    font-size: 80px;
    margin-bottom: 100px;
}

.visual_txt h2 strong{
    display: block;
    font-weight: 700;
    letter-spacing: -3px;
    margin: 10px 0;
}

.visual_txt h2 strong:first-child{
    color: #ff0000;
}

/* section */

section:not(#visual){
    margin-top: 170px;
}

/* event */

#event{
    width: 100%;
}

.event{
    width: 100%;
}

.event_divider{
    width: 100%;
}

.event_list{
    width: 100%;
}

.basic_tit{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #000;
    padding-bottom: 25px;
}

.basic_tit h2{
    position: relative;
    z-index: 2;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1px;
    pointer-events: all;
}

.basic_tit a{
    font-weight: 600;
}

.basic_tit a:hover{
    color: var(--main_color_red-);
}

.el_tit a:hover{
    color: var(--main_color_red-);
}

.el_content{
    width: 100%;
}

.elc_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.elc_list > li{
    width: calc(25% - 30px);
}

.el_box{
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.over_link{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.el_pic{
    width: 100%;
}

.el_desc{
    margin: 20px 0;
}

.el_desc h3{
    font-size: 36px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -0.5px;
    color: #000;
}

.el_box .el_date{
    font-weight: 600;
    color: var(--main_color_red-);
}

/* public_info */

.public_info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info_list{
    width: calc(50% - 20px);
}

.info_list_box{
    width: 100%;
}

.info_list_box ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info_list_box ul li{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(50% - 20px);
    padding-bottom: 15px;
}

.info_list_date{
    padding: 0 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.info_list_date *{
    color: #a5a5a5;
}

.info_list_date em{
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 1.1;
}

.info_list_date span{
    font-size: 17px;
    font-weight: 600;
}

.info_list_desc{
    flex: 1;
    box-sizing: border-box;
    padding-left: 15px;
}

.info_list_desc p{
    color: #000;
    font-size: 21px;
    line-height: 1.3;
    font-weight: 500;
}

/* sns_box */

.sns_box{
    height: 100px;
}

/* schools */

.schools{
    position: relative;
    width: 100%;
    height: 100vh;
}

.schools .basic_tit{
    position: relative;
}

.schools .basic_tit h2{
    transition: all 0.7s ease;
}

.view_bg .basic_tit h2{
    color: #fff;
}

.school_bg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.7s ease;
    z-index: -2;
    background: #000;
}

.view_bg .school_bg{
    opacity: 1;
    visibility: visible;
}

.sch_bg_img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    opacity: 0;
    visibility: hidden;
}

.sch_bg_img.active{
    opacity: 1;
    visibility: visible;
    transition: all 2s ease;
}

.sch_bg_img:first-child{
    background-image: url('../img/7a5a60cb-9bd4-49b0-85f1-df7d9301ead2_resize.jpg');
}

.sch_bg_img:nth-child(2){
    background-image: url('../img/d37532b8-a5b4-40e3-95f5-0f30cdbbcb8e_resize.jpg');
}

.sch_bg_img:nth-child(3){
    background-image: url('../img/b9180fe9-58c5-4320-903d-211ee1dd5149_resize.jpg');
}

.sch_bg_img:nth-child(4){
    background-image: url('../img/b939ab96-4da3-46ec-9559-b9d09a823cc6_resize.jpg');
}

.sch_bg_img:nth-child(5){
    background-image: url('../img/78cea322-da2f-4877-84a7-3ad1f553c237_resize.jpg');
}

.sch_bg_img:last-child{
    background-image: url('../img/8c65c286-914b-421e-b05a-f4fa66bdad9f_resize.jpg');
}

.school_slide_box{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.school-slide-pagination{
    position: absolute;
    left: 0;
    top: 140px;
    width: max-content !important;
    height: max-content !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px 0;
    z-index: 3;
}

.school-slide-pagination a{
    display: inline-block;
    width: max-content;
    color: #000;
    opacity: 0.6;
    transition: all 0.5s ease;
    font-size: 21px;
    font-weight: 600;
}

.view_bg .school-slide-pagination a{
    color: #fff;
}

a.school-slide-bullet-active{
    opacity: 1;
}

.school-slide-pagination a:hover{
    opacity: 1;
}

.school-slide-pagination a:hover{
    opacity: 1;
}

.school_slide{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.school_slide_tit{
    position: absolute;
    left: 50%;
    top: 175px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    width: max-content;
    z-index: 3;
    pointer-events: none;
}

.school_slide_tit ul li{
    display: none;
    text-align: center;
}

.school_slide_tit ul li.active{
    display: block;
}

.school_slide_tit h3,
.school_slide_tit ul li h4{
    position: relative;
    display: block;
    color: #fff;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    line-height: 1.5;
    user-select: none;
    pointer-events: none;
}

.school_slide_tit a{
    position: relative;
    display: inline-block;
    padding: 15px 0;
    color: #fff;
    margin-top: 30px;
    font-weight: 600;
    pointer-events: all;
    z-index: 2;
}