html, body{
    font-family: "neue-haas-grotesk-display", sans-serif;
}

body{
    overflow-x: hidden;
}

#wrap{
    width: 100%;
}

.container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 40px 0 130px;
}

:root{
    --main_color_red-: #cc0000;
}

/* logo */

.logo_box{
    position: fixed;
    left: 20px;
    top: 45px;
    width: 50px;
    height: calc(100vh - 90px);
    z-index: 100;
}

.logo_box::before{
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 15px;
    width: 10px;
    height: calc(100% - 15px);
    background: #000;
}

.logo a{
    display: block;
}

#header{
    position: fixed;
    top: 45px;
    width: 100%;
}

.header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.txt_logo a{
    display: block;
}

.txt_logo a img{
    max-width: 100%;
}

.header_util_box{
    display: flex;
    flex-wrap: wrap;
}

.hr_util{
    margin-left: 15px;
}

.hr_util > a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr_util > a img{
    width: 30px;
}

.hr_util_background{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    transition: all .5s;
}

.hr_util.active .hr_util_background{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

/* visual */

#visual{
    width: 100%;
    height: 100vh;
    background: url('../img/81d7d3de-6fc8-4192-86c0-299a32e83a3d_resize.jpg');
    background-size: cover;
    background-position: center center;
}

.visual{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

.visual_txt{
    font-size: 80px;
    margin-bottom: 100px;
}

.visual_txt h2 strong{
    display: block;
    font-weight: 600;
    letter-spacing: -2.5px;
    margin: 10px 0;
}

.visual_txt h2 strong:first-child{
    color: var(--main_color_red-);
}

/* main_section */

#main_section{
    width: 100%;
}

.main_section{
    width: 100%;
}

.main_section_divider{
    width: 100%;
    padding-top: 170px;
}

.main_section_list{
    width: 100%;
}

.msl_tit{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #000;
    padding-bottom: 25px;
}

.msl_tit h2{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -1px;
}

.msl_tit a{
    font-weight: 600;
}

.msl_tit a:hover{
    color: var(--main_color_red-);
}
